node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

keys.js
discogs.json
AuthTest.js
AuthReceive.js
AuthPass.js

android/
*.example
firebaseConfig.js
*.env

.expo-shared/
.idea/
.vscode/
